body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    max-width: 800px;
    margin: auto;
}

#title-container, .form-container {
    display: grid;
    justify-content: center;
}

#title-container p {
    padding: 0.5rem;
    margin: 0.5rem;
    background: rgb(40, 154, 224);
    color: white;
    border-radius: 5px;
    max-width: 40rem;
}

h1, h3 {
    margin: 2rem 1rem 1rem 1rem;
    color: rgb(4, 72, 139);
}

#sendButton {
    font-size: 0.9rem;
    border: none;
    color: white;
    background: rgb(40, 154, 224);
    padding: 8px 12px;
    margin: 20px;
    border-radius: 8px;
}

#sendButton:hover {
    opacity: 0.6;
}

#sendButton:disabled {
    opacity: 0.6;
}

.fields {
    display: flex;
    justify-content:space-around
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin: 0 10px 0 0;
    position: relative;
    top: 2px;
}

input::file-selector-button  {
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    color: white;
    background: rgb(40, 154, 224);
    padding: 6px 12px;
    margin: 20px;
    border-radius: 8px;
}

input::file-selector-button:hover {
    opacity: 0.6;
}

.output {
    margin: 2rem 6rem;
    padding: 10px 5px;
    text-align: start;
}
